/* Fons general */
.root {
    -fx-background-color: #1e1e1e;
}

/* Panell dret */
#rightPanel {
    -fx-background-color: #2d2d2d;
    -fx-padding: 12;
    -fx-border-color: #3f3f3f;
    -fx-border-width: 0 0 0 2;
}

/* Text superior */
.title-text {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

/* Text inferior */
.footer-text {
    -fx-font-size: 12px;
    -fx-text-fill: #bbbbbb;
}

/* Estil general per a totes les etiquetes */
Label {
    -fx-text-fill: white;
}

.separator {
    -fx-padding: 2px;
}

.key-label {
    -fx-background-color: linear-gradient(#444, #2a2a2a);
    -fx-text-fill: white;

    -fx-padding: 4 8 4 8;
    -fx-font-size: 12px;
    -fx-font-weight: bold;

    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-color: #666 #444 #222 #444;
    -fx-border-width: 1 1 2 1;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 3, 0.3, 0, 1);
}

.key-description {
    -fx-text-fill: #ffffff;
    -fx-font-size: 13px;
    -fx-font-weight: 800;
    -fx-letter-spacing: 0.6px;
}

